@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

h1{
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 3px 3px rgb(139, 139, 139);
}

#map{
    height: 80%;
    width: 90%;
    border-radius: 10px;
}